{% extends 'base.html.twig' %}

{% block title %}Todas las Tareas{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h2>{{ task.title }}</h2>
        <p class="data-task">
            {{ task.user.name }} 
            {{ task.user.name }} 
            || Creado: {{ task.createdAt|date('d/m/Y (h:i)') }} 
            || Prioridad: {% if task.priority == 'High' %}
                            {{ 'Alta' }}
                            {% endif %}
                            {% if task.priority == 'Medium' %}
                                {{ 'Media' }}
                            {% endif %}
                            {% if task.priority == 'Low' %}
                                {{ 'Baja' }}
                            {% endif %}
            || Horas: {{ task.hours }}
        </p>
        <p>{{ task.content }}</p>
    </div>
{% endblock %}
