{% extends 'base.html.twig' %}

{% block title %}Todas las Tareas{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h2>Todas las Tareas</h2>
        <table>
            <tr>
                <th>Tarea</th>
                <th>Prioridad</th>
                <th>Horas aprox.</th>
                <th>Acciones</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>
                        {% if task.priority == 'High' %}
                            {{ 'Alta' }}
                        {% endif %}
                        {% if task.priority == 'Medium' %}
                            {{ 'Media' }}
                        {% endif %}
                        {% if task.priority == 'Low' %}
                            {{ 'Baja' }}
                        {% endif %}
                    </td>
                    <td>{{ task.hours }}</td>
                    <td class="buttons"> 
                        <a href="" class="see">Ver</a>
                        <a href="" class="edit">Editar</a>
                        <a href="" class="delete">Borrar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
