{% if tasks|lenght >=1 %}
<table>
    <tr>
        <th>Tarea</th>
        <th>Prioridad</th>
        <th>Horas aprox.</th>
        <th>Acciones</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>
                {% if task.priority == 'High' %}
                    {{ 'Alta' }}
                {% endif %}
                {% if task.priority == 'Medium' %}
                    {{ 'Media' }}
                {% endif %}
                {% if task.priority == 'Low' %}
                    {{ 'Baja' }}
                {% endif %}
            </td>
            <td>{{ task.hours }}</td>
            <td class="buttons"> 
                <a href="{{ path('task_detail', {'id':task.id}) }}" class="see">Ver</a>
                <a href="" class="edit">Editar</a>
                <a href="" class="delete">Borrar</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
    <strong>No hay Tareas disponibles en este momento</strong>
{% endif %}